.factura-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.logo {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.empresa {
  text-align: right;
}

.contenido {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.columna {
  flex: 1;
}

.acciones {
  text-align: center;
}

.mat-icon-button {
  margin-right: 10px;
}

@media print {
  body * {
    visibility: hidden;
  }

  .factura-container, .factura-container * {
    visibility: visible;
  }

  .factura-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    background-color: #ffffff;
  }
  @media print {
    img {
      display: block; /* Asegura que el logo se imprima */
      width: 100%; /* Ajusta el tamaño del logo */
      height: auto;
    }
  }
  /* En el archivo CSS del componente */
.contenedor-tablas {
  display: flex;
  gap: 20px;
}

.tabla-clientes,
.tabla-facturas {
  max-height: 500px; /* Ajusta según necesites */
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}


}

  

